<p id="notice"><%= notice %> </p>
<p id="alert"> <%= alert %></p>
<h2> Gerenciamento de Ativos </h2>
<%= link_to 'Computadores', computadors_path %> <br>
<%= link_to 'Licenças de Software', licenca_de_softwares_path %> <br>
<%= link_to 'Telefones', telefones_path %> <br>
<%= link_to 'Outros', ativo_outros_path %> <br>



<h2> Área de Suporte </h2>
<%= link_to 'Chamados', chamados_path %> <br>
<%= link_to 'Requisitar Materiais', new_material_path %> <br>
