<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
<<<<<<< HEAD
      <h2><%= pluralize(@material.errors.count, "erro") %> - Não foi possível salvar essa requisição:</h2>
=======
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>
>>>>>>> 8e2910df577a1dcbbd3c7b951809aa9e9004efb8

      <ul>
      <% @material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %><br />
<<<<<<< HEAD
    <%= f.text_field :tipo %>
=======
    <%= f.select(:memoria,[['Computador'],['Telefone'],['Licença de Software'],['Outros']], {}, :class => "chzn-select") %>
>>>>>>> 8e2910df577a1dcbbd3c7b951809aa9e9004efb8
  </div>
  <div class="field">
    <%= f.label :custo %><br />
    <%= f.text_field :custo %>
  </div>
  <div class="field">
    <%= f.label :data_requisicao %><br />
    <%= f.date_select :data_requisicao, :order => [:day,:month,:year]%>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br />
    <%= f.text_field :quantidade %>
  </div>
  <div class="actions">
    <%= f.submit "Salvar Material", :class => "btn btn-small dark-blue" %>
  </div>
<% end %>
