<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">

      <h2><%= pluralize(@material.errors.count, "erro") %> - Não foi possível salvar essa requisição:</h2>

      <ul>
      <% @material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %><br />

    <%= f.select(:tipo,[['Computador'],['Telefone'],['Licença de Software'],['Outros']], {}, :class => "chzn-select") %>

  </div>
  <div class="field">
    <%= f.label :custo %><br />
    <%= f.text_field :custo %>
  </div>
  <div class="field">
    <%= f.label :data_requisicao %><br />
    <%= f.date_select :data_requisicao, :order => [:day,:month,:year]%>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br />
    <%= f.text_field :quantidade %>
  </div>
  <div class="actions">
    <%= f.submit "Salvar Material", :class => "btn btn-small dark-blue" %>
  </div>
<% end %>
